<nav class="nav">
    <ul>
        <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/home"><b>Home</b></a> </li>
        <li routerLinkActive="active-link"><a routerLink="/about"><b>About</b></a> </li>
        <li routerLinkActive="active-link"><a routerLink="/helpcenter"><b>Help Center</b></a> </li>
        <li routerLinkActive="active-link"><a routerLink="/user-profiles"><b>Profiles</b></a> </li>
        <li routerLinkActive="active-link"><a routerLink="/list-job"><b>List Job</b></a> </li>
        <li id="zz" routerLinkActive="active-link"><a routerLink="/login"><b>LogIn</b></a></li>
        <li routerLinkActive="active-link"><a routerLink="/signup"><b>SignUp</b></a> </li>
        
    </ul>
</nav>